<!--OVERALL...MAKE THE FORMATING PRETTY -->
<!--Changed home logo to 150 dimensions-->
<!DOCTYPE html>
<htm>
    <head>
        <title> Lazy Eats</title>
        <style type="text/css">
            .centerImage {
                text-align: center;
                display: block;
            }
            .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
        </style>
        <link rel="stylesheet"  href="/static/page1css.css">

    </head>

    <body>
        <div>
            <table>
                <tr><td><a  href="/"><img src="/static/home.png" alt="home" width="150" height="150" ></a></td>
                    <td><img src="/static/logo.png" alt="logo" width = "200"></td>
                </tr>
                
                <tr><td>
                    <p class="aligncenter">
                    <img src="/static/mainLazy.png" atl="main" width = "1280" height = "720" class="center">
                    </p>
                </td></tr>
            </table>
            <!--Include href for the button-->
            <!--LEFT TO REDIRECT THE OTHER BUTTONS/ IMAGES-->
            <a href ="/ourGoals"><img src="/static/goalsButton.png" atl="goals button" class="center"></a>

            <br>
            <a  href="/services"> <img src="/static/servicesButton.png" atl="services button" class="center" ></a>>
            <br>
            <a  href="/About"><img src= "/static/aboutusButton.png" atl="about button" class="center" > </a>
        </div>
        <!--To center the Lazy Eats Hamburger image-->
        <style>
            .aligncenter {
                text-align: center;
            }
        </style>
    </body>
</html>