<!--About us-->
<!DOCTYPE html>
<html>
  <head>
    <title>Lazy Eats</title>
  </head>

  <body>
    <div>
      <table>
        <!--Add href for home to become a button-->
        <tr>
          <td>
            <a href="/"
              ><img src="/static/home.png" alt="home" width="150" height="150"
            /></a>
          </td>
          <td><img src="/static/logo.png" alt="logo" width="200" /></td>
        </tr>
        <tr>
          <td>
            <img src="/static/aboutusTitle.png" atl="about" width="400" />
          </td>
        </tr>
      </table>
      <br />
      <img src="/static/aboutusContent.png" width="1200" height="700" />
    </div>
  </body>
</html>
